
.BeverageTypeSelector select {
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: white;
    margin-right: 20px;
    padding-left: 10px;
}

.filterContainer {
    display: flex;
}
.filterContainer label {
    margin-bottom: 5px;
    display: block;
}
.filterContainer select {
    display: block;
}

@media (max-width: 500px) {
    .filterContainer {
        display: block;
    }
}